{% extends 'rewards/base.html' %}
{% load static %}
{% block title %}Gift List{% endblock %}
{% block head %}
<style>
    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Creates a responsive grid layout */
        gap: 20px; /* Adjust the gap as needed */
        padding: 20px; /* Space around the grid */
    }
    .card {
        border: 1px solid #ddd; /* Light gray border */
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow */
        border-radius: 8px; /* Rounded corners */
        overflow: hidden; /* Ensures the content doesn't spill out */
        background: white; /* White card background */
        transition: transform 0.3s ease-in-out; /* Smooth transition for hover effect */
    }
    .card:hover {
        transform: translateY(-5px); /* Slight lift effect on hover */
        box-shadow: 0 6px 12px rgba(0,0,0,0.2); /* Deeper shadow on hover */
    }
    .card-content {
        padding: 16px; /* Padding inside the card */
    }
    .card-content a {
        text-decoration: none;
        color: #333; /* Dark text color for contrast */
        font-weight: bold; /* Make the title stand out */
    }
    .card-content p {
        color: #666; /* Lighter text for the description */
        margin-top: 8px; /* Space between title and description */
    }
    /* Add responsive design as needed */
</style>
{% endblock %}
{% block content %}

    <h1>PointShop</h1>
    <a href="?sort=asc">Ascending</a> | <a href="?sort=desc">descending</a>
    <form method="get" action="">
        <label>
            <input type="text" name="q">
        </label>
        <input type="submit" value="Search">
    </form>
    <div class="card-container">
        {% for gift in gifts %}
        <div class="card">
            <!-- 从指定路径加载图片 -->
            <img src="/staticfiles/admin/img/' %}{{ gift.image_name }}" alt="{{ gift.name }}">
            <div class="card-content">
                <a href="{% url 'gift_detail' gift.id %}">{{ gift.name }}</a>
                <p>Need points: {{ gift.points }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
