@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

a{
    text-decoration: none;
    color: #6a8d6d;
}

i{
    font-size: 24px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}


.container .left-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.container .left-section .logo{
    display: flex;
    align-items: center;
    gap: 10px;
}



.container .left-section .logo a {
    font-weight: 800;
    font-size: 20px;
    color: #6a8d6d;

}

.menu-btn{
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #D1E6F9;
    border-radius: 6px;
    cursor: pointer;
    display: none;
}

.menu-btn i{
    font-size: 18px;
    color: #208BEE;
}

.container .left-section .sidebar{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container .left-section .sidebar .item{
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.container .left-section .sidebar i{
    color: #BDBDBD;
    transition: all 0.3s ease;
}

.container .left-section .sidebar a{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 14px;
    color: #BDBDBD;
    position: relative;
    transition: all 0.3s ease;
}

.container .left-section .sidebar .item#active a,
.container .left-section .sidebar .item#active i,
.container .left-section .upgrade .link i{
    color: #6a8d6d;
}

.container .left-section .sidebar .item a::after{
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    background-color: #6a8d6d;
    right: -30px;
    border-radius: 50%;
    top: 0;
    transform: translateY(116%);
    transition: all 0.3s ease;
}

.container .left-section .sidebar .item#active a::after{
    width: 8px;
    height: 8px;
}

.container .left-section .pic img{
    width: 160px;

}

.container .left-section .upgrade{
    background: #ddead1;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 24px;
    margin-bottom: 0px;
    border-radius: 18px;
    cursor: pointer;
}

.container .left-section .upgrade .link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .left-section .upgrade .link a{
    font-size: 12px;
}

main .separator{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

main .separator .info{
    display: flex;
    align-items: center;
    gap: 30px;
}

main .separator .info h3{
    font-size: 30px;
}

main .separator .info a{
    margin-top: 6px;
    font-size: 14px;
}


@media screen and (max-width: 992px) {

    .container{
        grid-template-columns: 1fr 1fr;
    }

    .container .left-section{
        position: fixed;
        height: 60vh;
        background-color: #fff;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        top: -60vh;
    }

    .container .left-section .logo{
        flex-direction: column;
        gap: 20px;
    }

    .container .left-section .logo .menu-btn,
    main header .menu-btn{
        display: flex;
    }

    main h5{
        font-size: 16px;
    }

    main .separator .info{
        gap: 15px;
    }

    main .separator .info h3,
    .container .right-section .separator h4{
        font-size: 20px;
    }

    main .analytics .item{
        min-width: 160px;
    }

    main .analytics .item i{
        display: none;
    }

    main .planning{
        grid-template-columns: 1fr;
        gap: 10px;
    }

    main .planning .item{
        padding: 8px;
    }

    .container .right-section .stats .item{
        height: 160px;
        padding: 20px;
    }

    .container .right-section .stats .item .top p{
        font-size: 14px;
    }

    .container .right-section .stats .item .bottom h3{
        font-size: 36px;
    }

}

@media screen and (max-width: 768px) {

    .container{
        grid-template-columns: 1fr;
        padding-top: 80px;
    }

    .container .right-section > .top{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        padding: 20px;
        z-index: -100;
    }

    .container .right-section .weekly{
        margin-bottom: 20px;
    }

}