<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edite Profile</title>
</head>
<body>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h1>Edit Player Profile</h1>
<!--使用POST方法-->
<!--action属性没有显示声明，当前表单默认返回给当前URL-->
<form method="post">
    {% csrf_token %}
    <!--用户昵称-->
    <div>
        <label for="nickname">Nickname:</label>
        <input type="text" id="nickname" name="nickname" value="{{ player_information.nickname }}">
    </div>
    <!--用户邮箱-->
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ player_information.email }}">
    </div>
    <!--用户个性签名-->
    <div>
        <label for="bio">Bio:</label>
        <textarea id="bio" name="bio">{{ player_information.bio }}</textarea>
    </div>
    <!-- 总的保存按钮 -->
    <button type="submit">Save Changes</button>
</form>

</body>
</html>