<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Quiz Leaderboard</h1>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Ranking</th>
                        <th>Nickname</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ player.player }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{% url 'home' nickname=nickname%}" class="btn btn-primary">Back to Homepage</a>
    </div>
</body>
</html>
