<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<style>
    html, body {
        text-align: center;
        margin: 0 auto;
    }
    .link-container {
        margin: 10px 0; /* 添加上下边距以分开链接 */
    }
</style>
<body>
    <h1>Home page</h1>
       <div class="link-container">
    <a href="login">login</a>
       </div>
    <div class="link-container">
    <a href="regist">regist</a>
        </div>
    <div class="link-container">
        <a href="admin">adminstrator</a>
        </div>




</body>
</html>
