<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <!-- Linking Bootstrap CSS for styling -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!-- Linking a CSS file to work around a viewport bug in IE10 -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <!-- Custom CSS for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    <!-- IE compatibility scripts -->
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcdn.net/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcdn.net/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        html, body {
            text-align: center;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <h1>Registration Page</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Rendering form fields as paragraphs -->
        {{ userform.as_p }}
        <input type="submit" value="Register" />
    </form>
</body>
</html>
