{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <div class="container mt-4">
    <div class="row">
        <!-- 商品展示单元格 -->
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="product">
                <img src="{% static 'bitcoin.jpg' %}" alt="Bitcoin">
                <h5>Bitcoin</h5>

                <p class="price">points:10000</p>
                <p class="sales">saled:11</p>
                <p>Description: rare and typical.</p>
            </div>
        </div>
        <!-- 复制以上div以添加更多商品 -->
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="product">
               <img src="{% static 'coupon.jpg' %}" alt="Coupon">
                <h5>Coupon</h5>
                <p class="price">points:200</p>
                <p class="sales">saled:99</p>
                <p>Description: coupon for supermarket, i.e.tesco</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="product">
               <img src="{% static 'disaposable.jpg' %}" alt="Disaposable product">
                <h5>Disaposable product</h5>
                <p class="price">points:150</p>
                <p class="sales">saled:324</p>
                <p>Description: Green</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="product">
               <img src="{% static 'earphone.jpg' %}" alt="Bitcoin">
                <h5>Bitcoin</h5>
                <p class="price">points:2000</p>
                <p class="sales">saled:80</p>
                <p>Description: Convenient</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="product">
                <img src="{% static 'earphonein.jpg' %}" alt="earphonein">
                <h5>Earphonein</h5>
                <p class="price">points:10000</p>
                <p class="sales">saled:11</p>
                <p>Description: rare and typical.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="product">
               <img src="{% static 'earphonewireless.jpg' %}" alt="earphonewireless">
                <h5>earphonewireless</h5>
                <p class="price">points:10000</p>
                <p class="sales">saled:11</p>
                <p>Description: rare and typical.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="product">
                <img src="{% static 'medal.png' %}" alt="medal">
                <h5>medal</h5>
                <p class="price">points:10000</p>
                <p class="sales">saled:11</p>
                <p>Description: rare and typical.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="product">
               <img src="{% static 'Membership.jpeg' %}" alt="Membership">
                <h5>Membership</h5>
                <p class="price">points:10000</p>
                <p class="sales">saled:11</p>
                <p>Description: rare and typical.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="product">
               <img src="{% static 'mihayou.jpg' %}" alt="mihayou">
                <h5>mihayou</h5>
                <p class="price">points:10000</p>
                <p class="sales">saled:11</p>
                <p>Description: rare and typical.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="product">
                <img src="{% static 'organic.jpg' %}" alt="organic product">
                <h5>organic product</h5>
                <p class="price">points:10000</p>
                <p class="sales">saled:11</p>
                <p>Description: rare and typical.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="product">
                <img src="{% static 'pencil.jpeg' %}" alt="pencil">
                <h5>pencil</h5>
                <p class="price">points:10000</p>
                <p class="sales">saled:11</p>
                <p>Description: rare and typical.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="product">
               <img src="{% static 'phone shell.jpg' %}" alt="phone shell">
                <h5>phone shell</h5>
                <p class="price">points:10000</p>
                <p class="sales">saled:11</p>
                <p>Description: rare and typical.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="product">
                <img src="{% static 'profileframe.jpg' %}" alt="profileframe">
                <h5>profileframe</h5>
                <p class="price">points:10000</p>
                <p class="sales">saled:11</p>
                <p>Description: rare and typical.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="product">
                <img src="{% static 'sapling.jpg' %}" alt="sapling">
                <h5>sapling</h5>
                <p class="price">points:10000</p>
                <p class="sales">saled:11</p>
                <p>Description: rare and typical.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="product">
                <img src="{% static 'sound.jpg' %}" alt="sound">
                <h5>sound</h5>
                <p class="price">points:10000</p>
                <p class="sales">saled:11</p>
                <p>Description: rare and typical.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- 引入Bootstrap JS 和依赖 -->

