{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <div class="container mt-4">
    <div class="row">
        <!-- Product display cell -->
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="product">
                 <a href="{% url 'product_detail' name='bitcoin' nickname=nickname %}">Product Details</a>
                <img src="{% static 'bitcoin.jpg' %}" alt="Bitcoin">
                <h5>Bitcoin</h5>

                <p class="price">points:10000</p>
                <p class="sales">Not available yet</p>
                <p>Description: rare and typical.</p>
            </div>
        </div>
        <!-- Different items in one list -->
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="product">
                <a href="{% url 'product_detail' name='coupon' nickname=nickname %}">Product Details</a>
               <img src="{% static 'coupon.jpg' %}" alt="Coupon">
                <h5>Coupon</h5>
                <p class="price">points:200</p>
                <p class="sales">Not available yet</p>
                <p>Description: coupon for supermarket, i.e.tesco</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="product">
                <a href="{% url 'product_detail' name='Disposable bags' nickname=nickname %}">Product Details</a>
               <img src="{% static 'disaposable.jpg' %}" alt="Disaposable product">
                <h5>Disaposable product</h5>
                <p class="price">points:150</p>
                <p class="sales">Not available yet</p>
                <p>Description: Green</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="product">
                <a href="{% url 'product_detail' name='earphone' nickname=nickname %}">Product Details</a>
               <img src="{% static 'earphone.jpg' %}" alt="earphone">
                <h5>Bitcoin</h5>
                <p class="price">points:100</p>
                <p class="sales">Not available yet</p>
                <p>Description: Convenient</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="product">
                <a href="{% url 'product_detail' name='earphonein' nickname=nickname %}">Product Details</a>
                <img src="{% static 'earphonein.jpg' %}" alt="earphonein">
                <h5>Earphonein</h5>
                <p class="price">points:300</p>
                <p class="sales">Not available yet</p>
                <p>Description: fashion.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="product">
                <a href="{% url 'product_detail' name='earphonewireless' nickname=nickname %}">Product Details</a>
               <img src="{% static 'earphonewireless.jpg' %}" alt="earphonewireless">
                <h5>earphonewireless</h5>
                <p class="price">points:400</p>
                <p class="sales">Not available yet</p>
                <p>Description: daily.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="product">
                <a href="{% url 'product_detail' name='medal' nickname=nickname %}">Product Details</a>
                <img src="{% static 'medal.png' %}" alt="medal">
                <h5>medal</h5>
                <p class="price">points:750</p>
                <p class="sales">Not available yet</p>
                <p>Description: decoration.</p>
            </div>
        </div>
{#        <div class="col-md-3 col-sm-6 mb-4">#}
{#            <div class="product">#}
{#                <a href="{% url 'product_detail' name='Membership' nickname=nickname %}">Product Details</a>#}
{#               <img src="{% static 'Membership.jpeg' %}" alt="Membership">#}
{#                <h5>Membership</h5>#}
{#                <p class="price">points:341</p>#}
{#                <p class="sales">Not available yet</p>#}
{#                <p>Description: vip.</p>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-md-3 col-sm-6 mb-4">#}
{#            <div class="product">#}
{#                <a href="{% url 'product_detail' name='mihayou' nickname=nickname %}">Product Details</a>#}
{#               <img src="{% static 'mihayou.jpg' %}" alt="mihayou">#}
{#                <h5>mihayou</h5>#}
{#                <p class="price">points:670</p>#}
{#                <p class="sales">Not available yet</p>#}
{#                <p>Description: rare and typical.</p>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-md-3 col-sm-6 mb-4">#}
{#            <div class="product">#}
{#                <a href="{% url 'product_detail' name='organic' nickname=nickname %}">Product Details</a>#}
{#                <img src="{% static 'organic.jpg' %}" alt="organic product">#}
{#                <h5>organic product</h5>#}
{#                <p class="price">points:111</p>#}
{#                <p class="sales">Not available yet</p>#}
{#                <p>Description: healthy.</p>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-md-3 col-sm-6 mb-4">#}
{#            <div class="product">#}
{#                <a href="{% url 'product_detail' name='pencil' nickname=nickname %}">Product Details</a>#}
{#                <img src="{% static 'pencil.jpeg' %}" alt="pencil">#}
{#                <h5>pencil</h5>#}
{#                <p class="price">points:34</p>#}
{#                <p class="sales">Not available yet</p>#}
{#                <p>Description: writing.</p>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-md-3 col-sm-6 mb-4">#}
{#            <div class="product">#}
{#                <a href="{% url 'product_detail' name='phone shell' nickname=nickname %}">Product Details</a>#}
{#               <img src="{% static 'phone shell.jpg' %}" alt="phone shell">#}
{#                <h5>phone shell</h5>#}
{#                <p class="price">points:100</p>#}
{#                <p class="sales">Not available yet</p>#}
{#                <p>Description: beautiful.</p>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-md-3 col-sm-6 mb-4">#}
{#            <div class="product">#}
{#                <a href="{% url 'product_detail' name='profileframe' nickname=nickname %}">Product Details</a>#}
{#                <img src="{% static 'profileframe.jpg' %}" alt="profileframe">#}
{#                <h5>profileframe</h5>#}
{#                <p class="price">points:200</p>#}
{#                <p class="sales">Not available yet</p>#}
{#                <p>Description: pretty.</p>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-md-3 col-sm-6 mb-4">#}
{#            <div class="product">#}
{#                <a href="{% url 'product_detail' name='sapling' nickname=nickname %}">Product Details</a>#}
{#                <img src="{% static 'sapling.jpg' %}" alt="sapling">#}
{#                <h5>sapling</h5>#}
{#                <p class="price">points:150</p>#}
{#                <p class="sales">Not available yet</p>#}
{#                <p>Description: planting.</p>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-md-3 col-sm-6 mb-4">#}
{#            <div class="product">#}
{#                <a href="{% url 'product_detail' name='sound' nickname=nickname %}">Product Details</a>#}
{#                <img src="{% static 'sound.jpg' %}" alt="sound">#}
{#                <h5>sound</h5>#}
{#                <p class="price">points:60</p>#}
{#                <p class="sales">Not available yet</p>#}
{#                <p>Description: atmospheric.</p>#}
{#            </div>#}
{#        </div>#}
    </div>
</div>
{% endblock %}

