{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="product-detail">
{#    <img src="{{ product.image.url }}" alt="{{ product.name }}"style="width: 150px; height: 150px;">#}
    <h5>{{ product.name }}</h5>
{#    <p>Points: {{ product.points }}</p>#}
{#    <p>Sales: {{ product.sales }}</p>#}
    <p>Description: {{ product.description }}</p>
    <button onclick="buyProduct('{{ product.name }}', '{{ nickname }}')" class="btn btn-primary">Buy</button>
</div>
    <script>
function buyProduct(productName, nickname) {
    // Build the URL, where you need to make sure that the construction of the URL matches the Django route
    alert('Sorry,this item is not available yet.')

    fetch(`/pointshop/buy/${productName}/${nickname}/`, {
        method: 'POST', // 
        headers: {
            'X-CSRFToken': getCookie('csrftoken'), // Django requires a CSRF token if it is a POST request
            'Content-Type': 'application/json',
        },
        // If you need to send data to the back end, you can add a body here
        // body: JSON.stringify({ yourData })
    })
    .then(response => {
        if(response.ok) {
            return response.json(); // Parse the response in JSON format
        }
        throw new Error('Network response was not ok.'); // handling network errors
    })
    .then(data => {
        if (data.status === 'success') { // Make sure the back end returns the value 200, not the string '200'
            alert('You have buy this item successfully.');
        } else {
            alert('You have not enough points yet.');
        }
    })
    .catch(error => console.error('Error:', error)); // Handling errors during fetch
}
{#function getCookie(name) {#}
{#    let cookieValue = null;#}
{#    if (document.cookie && document.cookie !== '') {#}
{#        const cookies = document.cookie.split(';');#}
{#        for (let i = 0; i < cookies.length; i++) {#}
{#            const cookie = cookies[i].trim();#}
{#            if (cookie.substring(0, name.length + 1) === (name + '=')) {#}
{#                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));#}
{#                break;#}
{#            }#}
{#        }#}
{#    }#}
{#    return cookieValue;#}
</script>
{% endblock %}
